@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("woff2");
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-Regular.ttf") format("woff2");
    /* font-weight: 500; */
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-SemiBold.ttf") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-Bold.ttf") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-ExtraBold.ttf") format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-Black.ttf") format("woff2");
    font-weight: 900;
}

h1{
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
}

h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}

h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
}

h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
}

p {
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
}