.default-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    transition: all 0.3s ease-in-out;
}


.item .item-content {
    position: relative;
    padding: 0 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    transition: all 0.3s ease-in-out;
}

.item .item-content .addedby {
    position: absolute;
    right: 10px;
    top: 13px;
}

.item .item-content .addedby img {
    width: 40px;
    max-height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.item img.banner-img {
    width: 100%;
    min-height: 220px;
    object-fit: cover;
    max-height: 195px;
    object-position: center;
    padding: 10px 10px 0 10px;
    transition: all 0.3s ease-in-out;
}

.item .item-content h2 {
    color: #0071B3;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 24px;
}

.item .item-content p.postal-adress {
    color: #999;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
}

.item .item-content p.price {
    color: #333;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 24px;
}

.item .item-content p.date {
    position: absolute;
    right: 14px;
    bottom: 14px;
    color: #999;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.item .item-content .makelaar {
    display: block; 
    position: absolute;
    right: 14px;
    bottom: 45px;
    max-height: 30px;
    width: auto;
}

.item {
    border-bottom: 1px solid #ccc;
}

.item ul.kenmerken {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    color: #999;
    margin-bottom: 12px;
}

.item ul.kenmerken li {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
}

/* Pager */

.pager {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.pager p {
    font-size: var(--font-size-small);
    text-align: center;
    color: var(--secondary-text-color);
    padding-bottom: 1.5rem;
}

.pager .pager-pages {

    gap: var(--gap-default);
}

.pager a {
    background: var(--bg-button);
    border-radius: var(--border-radius-default);
    color: var(--tertiary-text-color);
    padding: 0.5rem .5rem;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;

    align-items: center;
    display: flex;
    justify-content: center;
}

.pager a:hover {
    background: var(--bg-button-hover);
}

@media (min-width: 540px){
    .default-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
